#!/bin/bash

hn=`hostname`
#master="ubuntu"
master={{ icinga2_master }}
port={{ icinga2_port }}

icinga2_pki_path="/etc/icinga2/pki"
ticket={{ centos }}

echo $hn
echo $icinga2_pki_path

if [ ! -e $icinga2_pki_path/$hn.key ] && [ ! -e $icinga2_pki_path/$hn.crt ] ; then
        echo "key: $icinga2_pki_path/$hn.key"
        echo "crt: $icinga2_pki_path/$hn.crt"

        echo "icinga2 pki new-cert"
        icinga2 pki new-cert --cn $hn --key $icinga2_pki_path/$hn.key --cert $icinga2_pki_path/$hn.crt

        echo "icinga2 pki save-cert"
        icinga2 pki save-cert --key $icinga2_pki_path/$hn.key --cert $icinga2_pki_path/$hn.crt --trustedcert $icinga2_pki_path/trusted-master.crt --host $master

        echo "icinga2 pki request"
        icinga2 pki request --host $master --port $port --ticket $ticket --key $icinga2_pki_path/$hn.key --cert $icinga2_pki_path/$hn.crt --trustedcert $icinga2_pki_path/trusted-master.crt --ca $icinga2_pki_path/ca.crt

        echo "icinga2 node setup"
        icinga2 node setup --ticket $ticket --endpoint $master,$master,$port --zone $hn --master_host $master --trustedcert $icinga2_pki_path/trusted-master.crt  --accept-config --accept-commands

else
        echo "$icinga2_pki_path/$hn.key or $icinga2_pki_path/$hn.crt exist"
fi

